node_modules
dist
.git
.env
uploads/*
!uploads/.gitkeep
README.md
*.log
mongodb-data
docker-compose.yml
e2e
tests
docs
scripts
documentos-novyx
.github
.vscode
playwright.config.ts
*.md
!package.json
